<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text=${titulo}></title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Springboot</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">home</a></li>
					<li class="nav-item"><a class="nav-link" href="#about"
						th:href="@{/listar}">cliente</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container"></div>
	<footer th:fragment="footer" class="container">
		<hr />
		<p>
			Powered by <a href="https://proyects.spring.io/spring-boot/">Spring
				boot </a> y <a href="http://www.thymeleaf.org">thymeleaf</a>
		</p>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	</footer>
</body>
</html>