<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
	<header th:replace="layout/layout:: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<h4 class="card-title">
					<div class="col-sm-6">
						<input type="text" id=txtB class="form-control" /> 
					</div>
					<div class="col-sm-6">
						<input type="submit"  class="form-control" /> 
					</div>
					
					<a class="btn btn-primary btn-xs"
								th:href="@{/producto/listar}+@{/sony}" th:text="buscar"></a>

				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>nombre</th>
							<th>precio</th>
							<th>CREAR FACTURA</th>
							<th>EDITAR</th>
							<th>ELIMINAR</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="producto:${productos}">
							<td><a class="btn btn-primary btn-xs"
								th:text="${producto.id}"></a></td>
							<td th:text="${producto.nombre}"></td>
							<td th:text="${producto.precio}"></td>
							<td><a class="btn btn-primary btn-xs" th:text="'editar'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								onclick="return confirm('estas seguro de eliminar?');"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>